@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Arvo");
@font-face {
  font-family: "banners";
  src: url(/fuentes/Hey\ August.ttf);
}
@font-face {
  font-family: "bannersy";
  src: url(/fuentes/Brotherhood\ Brush.ttf);
}
@font-face {
  font-family: "school";
  src: url(/fuentes/BEACHWORKS.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

body {
  background-color: white;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.showcase {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
}

.blackhead {
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #000000;
  color: #ffffff;
  bottom: 5px;
}

.menumobile {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: #FFFFFF;
}

.korean {
  position: relative;
  width: 200px;
  height: 30px;
  right: 200px;
  color: #05eb37;
  background-color: rgb(255, 255, 255);
}

.blackhead h1 {
  cursor: pointer;
  color: #ffffff;
  position: relative;
  padding-bottom: 7px;
  letter-spacing: 1px;
  font-size: 2em;
  bottom: 5px;
}

.blackhead h1:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.whitehead {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 20% 20% 50%;
}

.cta {
  position: relative;
  border: none;
  top: -10px;
  font-weight: 700;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 20px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
  font-size: 60px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-menurigth {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: relative;
  left: 90%;
  padding: 10px;
}

.nav-menurigth ion-icon:hover {
  color: #000000;
  width: 35px;
  height: 35px;
}

.nav-menurigth a ion-icon {
  color: #000000;
  position: relative;
  width: 30px;
  height: 30px;
  left: 80%;
  bottom: 18px;
  border-radius: 50%;
}

.nav-toggle {
  color: rgb(0, 0, 0);
  background: none;
  font-size: 40px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

.container {
  position: relative;
  top: 20px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  height: 1200px;
  background-image: url(/imgnonstop/pexels-tima-miroshnichenko-6847588.jpg);
  background-size: cover;
}

/* Navegacion */
.nav-main {
  position: relative;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 35px;
  height: 200px;
}

.covermenu {
  display: none;
}

.nav-main2 {
  position: relative;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 50px;
  height: 200px;
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* nav left */
.nav-main li {
  padding: 10px;
  margin: 10px;
}

.nav-main ul li a {
  padding: 4px;
  color: #ffffff;
}

.nav-main li a:hover {
  font-size: 23px;
}

.nav-main2 li {
  padding: 10px;
  margin: 10px;
}

.nav-main2 li a {
  padding: 4px;
  color: #ffffff;
}

.nav-main2 li a:hover {
  font-size: 23px;
}

.biography {
  position: relative;
  height: 1200px;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
}

.text h1 {
  position: relative;
  top: 130px;
  font-size: 4.8em;
  text-align: center;
  font-weight: 900;
}

.text p {
  font-size: 2.5em;
  position: relative;
  top: 180px;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.retrato img {
  width: 750px;
  height: 900px;
  left: 22%;
  top: 150px;
  position: relative;
}

.momentsgalery {
  height: 800px;
  position: relative;
  top: 50px;
}

.galery h1 {
  font-size: 8em;
  color: black;
  text-align: center;
  font-weight: 900;
}

.galery p {
  font-size: 2.8em;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f4f4;
  font-size: 13px;
  font-family: "Arvo", monospace;
}
@supports (display: grid) {
  body,
html {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.section {
  top: 200px;
  display: none;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 4rem;
  }
}
@supports (display: grid) {
  .section {
    display: block;
  }
}

h1 {
  font-size: 2.6rem;
  margin: 0 0 1.5em;
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background: url(/imgnonstop/Shewasnt.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
}
.item .item__details {
  font-family: "school";
}
.item:nth-of-type(3n) {
  background-image: url(/imgnonstop/Everybodyaresummer.jpg);
}
.item:nth-of-type(4n) {
  background-image: url(/imgnonstop/LOGOSTIVENBOUVIER.png);
}
.item:nth-of-type(5n) {
  background-image: url(/Imagenes/Green\ Black\ Friday\ Instagram\ Post\ \(1\).png);
}
.item:nth-of-type(6n) {
  background-image: url(/imgnonstop/pexels-wendy-wei-1916824.jpg);
}
.item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.item:hover {
  transform: scale(1.05);
}
.item:hover:after {
  opacity: 0;
}
.item--medium {
  grid-row-end: span 2;
}
.item--large {
  grid-row-end: span 3;
}
.item--full {
  grid-column-end: auto;
}
@media screen and (min-width: 768px) {
  .item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}
.item__details {
  position: relative;
  padding: 15px;
  color: #444;
  background: #fff;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: black;
}
.item__details:before {
  content: counter(item-counter);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}

.footer {
  position: relative;
  background: linear-gradient(to bottom right, rgb(255, 105, 205), rgb(105, 105, 221), rgb(68, 255, 130), rgb(255, 105, 205));
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
  top: 1800px;
}

.nav-mainfooter {
  position: relative;
  top: 150px;
  display: grid;
  border: none;
}

.nav-menufooter {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.nav-menufooter a {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 30px;
}

.nav-menufooter a:hover {
  color: white;
  font-size: 30px;
  box-shadow: 1px 3px 12px black;
  border-radius: 9px;
}

.piepag {
  position: relative;
  top: 1800px;
  width: 100%;
  height: 500px;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.piepag div {
  display: flex;
  justify-content: center;
}

.piepag img {
  position: relative;
  align-items: center;
  width: 300px;
  height: 300px;
}

.piepag h5 {
  top: 80px;
  position: relative;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (max-width: 1502px) {
  .blackhead {
    height: 30px;
    background-color: rgb(0, 0, 0);
  }

  .blackhead h1 {
    top: 5px;
    font-size: 12px;
  }

  .cta span {
    top: 28px;
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 13px;
    padding-right: 15px;
    text-transform: uppercase;
  }

  .container {
    height: 700px;
    background-size: cover 700px;
  }

  .nav-main {
    position: relative;
    left: 40%;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 20px;
    height: 200px;
    color: white;
  }

  .biography {
    position: relative;
    height: 800px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .text h1 {
    position: relative;
    top: 50px;
    font-size: 45px;
  }

  .text p {
    font-size: 20px;
    position: relative;
    top: 20px;
  }

  .retrato img {
    width: 520px;
    height: 700px;
    display: flex;
    position: relative;
    top: 50px;
    right: 30px;
  }

  .galery {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .galery h1 {
    position: relative;
    text-align: center;
    display: flex;
    font-weight: 700;
    justify-content: center;
  }

  .galery p {
    font-size: 23px;
    position: relative;
    display: flex;
    text-align: start;
    top: -70px;
    padding: 25px;
  }

  .section h1 {
    position: relative;
    top: -60px;
    text-align: right;
    letter-spacing: 8px;
    font-size: 80px;
    border-bottom: solid black 3px;
  }

  .footer {
    position: relative;
    top: 2500px;
    background: linear-gradient(to bottom right, rgb(255, 105, 205), rgb(105, 105, 221), rgb(68, 255, 130), rgb(255, 105, 205));
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
  }

  .nav-mainfooter {
    position: relative;
    top: 150px;
    display: grid;
    border: none;
  }

  .nav-menufooter {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .nav-menufooter a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 18px;
  }

  .nav-menufooter a:hover {
    color: white;
    font-size: 20px;
    box-shadow: 1px 3px 12px black;
    border-radius: 9px;
  }

  .piepag {
    position: relative;
    top: 2500px;
    width: 100%;
    height: 250px;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .piepag div {
    display: block;
    justify-content: center;
  }

  .piepag img {
    width: 120px;
    height: 120px;
    left: 45%;
    position: relative;
    top: 50px;
  }

  .piepag h5 {
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    text-align: center;
    top: 100px;
    right: 1%;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}
@media (max-width: 550px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
  }

  /* Showcase */
  .showcase {
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1;
  }

  .blackhead {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #000000;
    color: #ffffff;
  }

  .blackhead h1 {
    top: 10px;
    padding-bottom: 7px;
    letter-spacing: 1px;
    font-size: 0.8em;
    color: white;
  }

  .whitehead {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 50% 50% 75%;
  }

  .nav-toggle {
    color: rgb(0, 0, 0);
    background: none;
    font-size: 40px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  }

  .nav-menu {
    flex-direction: column;
    margin: 0;
    background-color: #000000;
    position: fixed;
    top: 120px;
    width: 100%;
    padding: 10px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    z-index: 10;
    color: white;
  }

  .nav-main li a {
    position: relative;
    font-size: 1.2em;
    margin: 10px;
    bottom: 100px;
    color: white;
  }

  .nav-main ul li a {
    left: 10%;
    color: white;
  }

  .nav-main li {
    margin-top: 0;
    position: relative;
    right: 10px;
    margin: 10px;
    font-size: 1.2em;
    color: white;
  }

  .nav-main :hover {
    background-color: #ff0d0d;
    color: #000000;
    font-size: 1em;
  }

  .nav-main li a:hover {
    font-size: 1.4em;
  }

  .covermenu {
    display: flex;
  }

  .nav-menu2 {
    display: none;
  }

  .nav-toggle {
    font-size: 3em;
    display: flex;
    position: relative;
    right: 20px;
    top: 15px;
    z-index: 1;
    color: rgb(0, 0, 0);
    border: none;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  .nav-toggle :hover {
    border: solid white;
    border-radius: 5px;
  }

  .nav-toggle :active {
    color: #000000;
  }

  .cta {
    position: relative;
    border: none;
    left: 140px;
    top: 1px;
    font-weight: 700;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 12px;
    padding-right: 15px;
    text-transform: uppercase;
  }

  .nav-menurigth ion-icon:hover {
    color: #000000;
    width: 45px;
    height: 45px;
  }

  .nav-menurigth a ion-icon {
    color: #000000;
    position: relative;
    width: 30px;
    height: 30px;
    left: 10%;
    top: 5px;
    border-radius: 50%;
  }

  .container {
    background-image: url(/imgnonstop/논스톱.png);
    background-size: 500px cover;
  }

  .retrato img {
    position: relative;
    right: 50px;
    width: 200px;
    height: 200px;
    display: none;
  }

  .biography {
    display: block;
  }

  .text h1 {
    position: relative;
    top: 50px;
    font-size: 45px;
  }

  .text p {
    font-size: 20px;
    position: relative;
    top: 20px;
  }

  .galery {
    display: block;
    align-items: center;
    text-align: center;
  }

  .galery h1 {
    padding: 15px;
    font-size: 2.8em;
    color: black;
    text-align: center;
    font-weight: 900;
  }

  .galery p {
    font-size: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .momentsgalery {
    height: 800px;
    display: block;
    position: relative;
    top: 50px;
  }

  .footer {
    position: relative;
    top: 6100px;
  }

  .nav-mainfooter {
    position: relative;
    top: 120px;
    display: grid;
    border: none;
  }

  .piepag {
    position: relative;
    top: 6050px;
  }

  .piepag img {
    position: relative;
    left: 36%;
    display: flex;
  }
}

/*# sourceMappingURL=stylenews.css.map */
