* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    
}  


a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/* Showcase */

.Showcase {
    width: 100%;
    height: 30px;
    background-color: #000000;
    opacity: 80%;
    
}

.container {
    position: relative;
    width: 100%;
    height: 700px;
    background: url(/Imagenes/Diseño\ sin\ título\ \(7\).png);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

/* Navegacion */

.nav-main {
    font-size: 25px;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-brand {
    width: 50px;
}

/* nav left */
.nav-main ul {
    display: flex;
    font-size: 25px;
    justify-content: center;

}

.nav-main ul li{
    padding: 10px;
    margin: 10px;

}
.nav-main ul li a {
    padding: 4px;
    color: #010003;
}

.nav-main ul li a:hover {
    border-bottom: solid #ffffff;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}
.nav-main img {
    width: 200px;
    height: 200px;
    position: relative;
    left: 30px;
}

.parrafosus {
    color: #FFFFFF;
    width: 1200px;
    height: 100px;
    margin-left: 150px;
    font-size: large;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50px;
}  

.tosuscribe {
    display: flex;
    border-bottom: solid white;
    height: 200px;
    width: 100%;
}
.parrafosus {
    text-align: center;
    position: relative;
    left: 200px;
}
.tosuscribe button {
    position: relative;
    left: 300px;
}

#open {
    color:black;
    width: 200px;
    height: 50px;
    margin-top:50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    margin-left:570px;
    border: #FFFFFF;
    box-shadow: 5px 5px 0px; 
}


.infolanzamiento {
  
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #FFFFFF;
font-size: 60px;
margin-top: 50px;
height: 500px;

}
#present {
    width: 60%;
    font-size: 35px;
    left: 40px;
}
.infolanzamiento h2 {
    margin-left: 200px;
}
.infolanzamiento p {
    margin-left: 200px;
}

.infolanzamiento img {
    width: 400px;
    height: 380px;
    position: relative;
    margin-top: 10px;
    margin-left: 100px;
    bottom: 280px;
    left: 650px;
}


.infolanzamiento button {
    cursor: pointer;
    color:black;
    width: 200px;
    height: 50px;
    margin-top:60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    margin-left:340px;
    border: #FFFFFF;
    box-shadow: 5px 5px 0px;
    position: relative;
    bottom: 300px;
    right: -100px;
}

.bg-model {
    width:100%;
    height: 100%;
    background-color : rgb(0,0,0,0.7);
    position: absolute;
    top: 600px;
    display: flex;
    justify-content: center;
    align-items:  center;
    display: none;
        
} 
/*display: none;*/

.model_content {
width:  60%;
height: 600px;
background: url(/Imagenes/kelvin-moquete-LOV7Gbmgm30-unsplash.jpg);
border-radius:4px;
text-align: center;
padding: 20px;
position: relative;
box-shadow: 5px 5px 40px;

}
.model_content h1{
    color: black;
}

#send {
    cursor: pointer;
    padding: 10px;
    color:#010003;
    background-color: violet;
    width: 100px;
    height: 10px;
    font-size: 23px;


    box-shadow: 5px 5px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid;
    
}
#send {
    width:10%;
    height:50%;
    text-align: center;
    display: flex;
    margin: 15px;
    margin-left: 15.3%;
    border-color:#FFFFFF;
    margin-bottom: 0px;
    justify-content: center;
    position: relative;
    left: 30%;
    top: 5px;
}
    .model_content  input {
        width:70%;
        height:50%;
        text-align: center;
        display: flex;
        margin: 15px;
        margin-left: 15.3%;
        border-color:violet;
        margin-bottom: 0px;
    }



.close {
    position:absolute;
    color: black;
    top:0;
    right: 14px;
    font-size: 42px;
    transform :rotate(45deg);
    cursor: pointer;
    
}
.logopop{
    width: 350px;
    height: 350px;
    margin :0;
    display :inline-flex;
    margin-top:  -90px;
    
}

.github-btn {
    position: absolute;
    right: 40px;
    bottom: 50px;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
    background: rgb(236, 23, 23);
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    transition: all .3s ease-in-out;
  
    @media screen and (min-width: 500px) {
      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
      }
    }
  
    @media screen and (max-width: 700px) {
      position: relative;
      bottom: auto;
      right: auto;
      margin-top: 20px;
  
      &:active {
        transform: scale(1.1);
        box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
      }
    }
  }
  
  /* Footer */

.footer {
      background-color: rgb(65, 65, 65);
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;

}
.redes button {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background-color: black;
}
.redes ion-icon {
    color: rgb(160, 238, 248);
    width: 70px;
    height: 70px;
}
.redes h4 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 10px;
}
.redes1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;

}
.redes1 button {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background-color: black;
}
.redes1 ion-icon {
    color: rgb(160, 238, 248);
    width: 70px;
    height: 70px;
}
.redes1 h4 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 10px;
}
.redes2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;

}
.redes2 button {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background-color: black;
}
.redes2 ion-icon {
    color: rgb(160, 238, 248);
    width: 70px;
    height: 70px;
}
.redes2 h4 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 10px;
}

.piepag {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.piepag img {
    width: 180px;
    height: 180px;
    position: relative;
    left: 90px;
    bottom: 20px;
}
.piepag h5 {
    font-size: 15px;
    color: white;
    position: relative;
    top: 60px;
    right: 90px;
}
@media (max-width:780px){
    body {
        background-color: #fff;

    }
    .nav-main img {
        width: 100px;
        height: 100px;
    }
    .nav-menu li {
        font-size: 15px;
        display: flex;
        
   
    }
}