@charset "UTF-8";
* {
margin: 0;
padding: 0;
}

body {
background-color: #000000;
font-size: 16px;
font-family: "Oswald", sans-serif;
}

a {
text-decoration: none;
}

ul {
list-style: none;
}

/* Showcase */
.showcase {
display: flex;
align-items: center;
width: 100%;
height: 70px;
background-color: #000000;
position: fixed;
z-index: 10;

}
.showcase h1{
color: #FFFFFF;
width: 50px;

}

.nav-menurigth {
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
width: 70px;
height: 70px;
position: relative;
left: 90%;
padding: 10px;
}

.nav-menurigth ion-icon:hover {
color: #ffff86;
width: 60px;
height: 60px;
}

.nav-menurigth a ion-icon {
color: #ffffff;
width: 40px;
height: 40px;
border-radius: 50%;
}

.nav-toggle {
color: white;
background: none;
border: none;
font-size: 40px;
padding: 0 20px;
line-height: 60px;
cursor: pointer;
display: none;
}

.container {
display: flex;
width: 100%;
height: 200px;
background-image: url(/imgnonstop/pexels-ron-lach-8973009.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

/* Navegacion */
.nav-main {
display: flex;
justify-content: center;
align-items: center;
width: 40%;
font-size: 25px;
height: 200px;
}

.covermenu {
display: none;
}

.nav-main2 {
display: flex;
justify-content: center;
align-items: center;
width: 40%;
font-size: 25px;
height: 200px;
}

.nav-menu {
display: flex;
align-items: center;
justify-content: center;
}

.nav-menu2 {
display: flex;
align-items: center;
justify-content: center;
}

/* nav left */
.nav-main li {
padding: 10px;
margin: 10px;
}

.nav-main ul li a {
padding: 4px;
color: #ffffff;
}

.nav-main li a:hover {
font-size: 30px;
border-bottom: solid #eaf81e;
}

.nav-main2 li {
padding: 10px;
margin: 10px;
}

.nav-main2 li a {
padding: 4px;
color: #ffffff;
}

.nav-main2 li a:hover {
font-size: 30px;
border-bottom: solid #eaf81e;
}

.container img {
width: 250px;
height: 250px;
position: relative;
}

.welcome{
    color: #FFFFFF;
    height: 150px;
    display: flex;
    font-size:30px;
    justify-content:center;
    margin-top: 70px;
    position: relative;
}

.welcome h1::before{
    position: relative;
    color: #ffffff;
    font-weight: 600;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #000000;
    border-left: 2px solid #000000;
    animation: animate 5s steps(22) infinite;

}
@keyframes animate {
    40%, 60%{
    left: calc(80% + 4px);
    }
    100%{
    left: 10%;
    }
}
/*StoreMusic*/

.front img{
    width: 200px;
    height: 200px;
}

/*Boton youtube*/
/* Footer */
.footer {
background-color: #080808;
width: 100%;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
}

.redes {
display: flex;
justify-content: center;
align-items: center;
width: 20%;
height: 150px;
margin: 10px;
}

.redes button {
width: 70px;
height: 70px;
border-radius: 20%;
background-color: black;
cursor: pointer;
}

.redes ion-icon {
color: #a0eef8;
width: 30px;
height: 30px;
}

.redes h4 {
font-size: 30px;
color: white;
margin: 10px;
}

.redes1 {
display: flex;
justify-content: center;
align-items: center;
width: 20%;
height: 150px;
margin: 10px;
}

.redes1 button {
width: 70px;
height: 70px;
border-radius: 20%;
background-color: black;
cursor: pointer;
}

.redes1 ion-icon {
color: #a0eef8;
width: 30px;
height: 30px;
}

.redes1 h4 {
font-size: 30px;
color: white;
margin: 10px;
}

.redes2 {
display: flex;
justify-content: center;
align-items: center;
width: 20%;
height: 150px;
margin: 10px;
}

.redes2 button {
width: 70px;
height: 70px;
border-radius: 20%;
background-color: black;
cursor: pointer;
}

.redes2 ion-icon {
color: #a0eef8;
width: 30px;
height: 30px;
}

.redes2 h4 {
font-size: 30px;
color: white;
margin: 10px;
}

.piepag {
width: 100%;
height: 250px;
display: block;
align-items: center;
justify-content: center;
}
.piepag div {
display: flex;
justify-content: center;
}

.piepag img {
width: 180px;
height: 180px;
bottom: 20px;
}

.piepag h5 {
font-size: 15px;
color: rgb(255, 255, 255);
text-align: center;
}
/*Responsive Laptop 
/*---------------RESPONSIVE NAV -------------*/
@media (max-width: 1800px) {
.nav-main {
    font-size: 20px;
}

.nav-main li a:hover {
    font-size: 25px;
    border-bottom: none;
}

.nav-main2 {
    font-size: 20px;
}

.nav-main2 li a:hover {
    font-size: 25px;
    border-bottom: none;
}

.nav-menurigth {
    position: relative;
    right: 50%;
}
.footer {
    background-color: #1815158f;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }
  
  .redes button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }
  
  .redes ion-icon {
    color: #a0eef8;
    width: 20px;
    height: 20px;
  }
  
  .redes h4 {
    font-size: 20px;
    color: white;
    margin: 10px;
  }
  
  .redes1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }
  
  .redes1 button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }
  
  .redes1 ion-icon {
    color: #a0eef8;
    width: 20px;
    height: 20px;
  }
  
  .redes1 h4 {
    font-size: 20px;
    color: white;
    margin: 10px;
  }
  
  .redes2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }
  
  .redes2 button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }
  
  .redes2 ion-icon {
    color: #a0eef8;
    width: 20px;
    height: 20px;
  }
  
  .redes2 h4 {
    font-size: 20px;
    color: white;
    margin: 10px;
  }
  
}
/*Responsive Tablet*/
@media (max-width: 1116px) {
.container img {
    /*visibility: collapse;*/
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 20%;
    right: 6%;
  }

  .container {
    display: flex;
    height: 400px;
  }

  .nav-main {
    position: relative;
    right: 2%;
    bottom: 17%;
    height: 70px;
    font-size: 15px;
  }

  .nav-main2 {
    position: relative;
    bottom: 17%;
    left: 0%;
    height: 70px;
    font-size: 15px;
  }

  .nav-menu li {
    margin: 0;
  }

  .nav-menu2 li {
    margin: 0;
  }

  .nav-menu2 {
    position: relative;
    right: 25%;
  }

  .nav-main ul li a {
    color: #ffffff;
  }

  .nav-main2 ul li a {
    color: #ffffff;
  }

  .nav-main li a:hover {
    font-size: 30px;
    border-bottom: none;
}

.nav-main2 li a:hover {
    font-size: 20px;
    border-bottom: none;
}

.nav-menurigth {
    left: 78%;
}
}

/*Responsive Movil*/
@media (max-width: 768px) {
.showcase {
    height: 60px;
}

.container {
    height: 300px;
}

.showcase {
    display: flex;
    position: fixed;
    height: 70px;
    z-index: 10;
}

.logomenu {
    display: none;
}

.logomenu2 {
    width: 50px;
    height: 50px;
    display: flex;
    border: solid white;
}

.container img {
    bottom: 28%;
    left: 0%;
}

.nav-menurigth a ion-icon {
    width: 40px;
    height: 40px;
    
}
.nav-menu {
    flex-direction: column;
    margin: 0;
    background-color: #000000;
    position: fixed;
    top: 70px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    z-index: 10;
}

.nav-main li a {
    position: relative;
    right: 10px;
    font-size: 30px;
    margin: 5px;
}

.nav-main li {
    font-size: 50px;
    margin-top: 0;
}

.nav-main :hover {
    background-color: red;
    color: black;
}

.covermenu {
    display: flex;
}

.nav-menu2 {
    display: none;
}

.nav-toggle {
    display: flex;
    position: relative;
    right: 80px;
    color: white;
}

.nav-menu_visible {
    left: 0;
}

.nav-toggle:focus:not(:focus-visible) {
    outline: none;
}
.nav-toggle :hover{
    border: solid white;
    border-radius: 5px }

.nav-toggle :active {
    color: red;
}

.welcome{
    color: #FFFFFF;
    height: 150px;
    display: flex;
    font-size:20px;
    justify-content:center;
    margin-top: 70px;
    position: relative;
}

.welcome h1::before{
    position: relative;
    color: #ffffff;
    font-weight: 600;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: #000000;
    border-left: 2px solid #000000;
    animation: animate 5s steps(22) infinite;

}
@keyframes animate {
    40%, 60%{
    left: calc(80% + 4px);
    }
    100%{
    left: 10%;
    }
}
.footer {

    position: relative;
    top: 230px;
    height: 100px;
    padding-top: 10px;
}
.redes {

    height: 80px;
    display:grid;
    align-items: center;
    justify-content: center;

}
.redes h4 {
    font-size: 15px;
}
.redes button {

    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.redes ion-icon {
    width: 20px;
    height: 30px;
}
.redes1 {
    height: 80px;
    display:grid;
    align-items: center;
    justify-content: center;

}
.redes1 h4 {
    font-size: 15px;
    text-align: center;
}
.redes1 button {

    margin-left: 10px;
    width: 40px;
    height: 40px;
}
.redes1 ion-icon {
    width: 20px;
    height: 30px;
}
.redes2 {
    height: 80px;
    display:grid;
    align-items: center;
    justify-content: center;

}
.redes2 h4 {
    font-size: 15px;
    text-align: center;
}
.redes2 button {

    margin-left: 10px;
    width: 40px;
    height: 40px;
}
.redes2 ion-icon {
    width: 25px;

    height: 30px;
}
.piepag {
    height: 200px;
    display: block;
    position: relative;
    top: 230px;
    justify-content: center;
    align-items: center;
}
.piepag img {
    top: 8%;
    left: 37%;
    width: 120px;
    height: 120px;
}
.piepag h5 {
    text-align: center;
    top: 0;
    right: 0;
}
}
/*# sourceMappingURL=styleindex.css.map */
/*# sourceMappingURL=styleindex.css.map */

/*# sourceMappingURL=styleindex.css.map */
