* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  /*box-sizing: border-box;
  margin: 0;
  padding: 0;*/
}

body {
  height: 100vh;
  width: 100%;
  background-color: black;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Showcase */
.showcase {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #000000;
  position: fixed;
  z-index: 10;
}
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 40px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}
.nav-menurigth {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: relative;
  left: 90%;
  padding: 10px;
}

.nav-menurigth ion-icon:hover {
  color: #ffff86;
  width: 60px;
  height: 60px;
}

.nav-menurigth a ion-icon {
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* Navegacion */
.container {
  position: relative;
  width: 100%;
  height: 900px;
  background: url(/Imagenes/pexels-narymbayev-yerbol-11362875.jpg);
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  margin-top: 0;
  border: solid white;
}

.nav-brand {
  width: 50px;
}

/* nav left */
.nav-main ul {
  display: flex;
  font-size: 25px;
  justify-content: center;
}

.nav-main ul li {
  padding: 10px;
  margin: 10px;
}

.nav-main ul li a {
  padding: 4px;
  color: #FFFFFF;
  font-size: 30px;
}

.nav-main ul li a:hover {
  border-bottom: solid #FFFFFF;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

.nav-main img {
  width: 200px;
  height: 200px;
  position: relative;
  left: 50px;
}

.comingsoon {
  border: solid white;
  width: 100%;
  height: 120px;
  color: #FFFFFF;
  font-size: large;
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif;
}
.comingsoon p {
  text-align: center;
  margin-top: 0;
}

.parrafosus {
  color: #FFFFFF;
  width: 1200px;
  height: 100px;
  margin-left: 150px;
  font-size: large;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 50px;
}

.newsday {
  height: 200px;
  color: #ffffff;
  position: relative;
  top: 300px;
  font-size: small;
  font-size: 15px;
  background-color: black;
  align-items: center;
}

.titlebouvier {
  font-size: large;
  font-size: 50px;
  color: pink;
  position: relative;
  text-shadow: #FFFFFF;
  margin-left: 180px;
}

#present {
  font-size: 20px;
  left: 40px;
  color: #FFFFFF;
  margin-left: 15px;
  margin-right: 15px;
}

.github-btn {
  position: absolute;
  right: 40px;
  bottom: 50px;
  display: flex;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
  background: #ff0a0a;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 500px) {
  .github-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
  }
}
@media screen and (max-width: 700px) {
  .github-btn {
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 20px;
  }

  .github-btn:active {
    transform: scale(1.1);
    box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
  }
}
.main {
  background-attachment: transparent;
  position: relative;
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  bottom: 60px;
  border-radius: 0.5%;
}

.main button {
  cursor: pointer;
  padding: 10px 12px;
  margin: 0 6px;
  bottom: 100px;
}

.main #logo {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 25px;
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-size: 20px;
}

main #logo i {
  margin-right: 15px;
  color: red;
  font-size: 5px;
}

/*left and right part */
.right,
.left {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left img {
  border: solid;
  margin-left: 300px;
  width: 55%;
  /*box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);*/
}

/* both range slider*/
input[type=range] {
  -webkit-appearance: none;
  width: 50%;
  outline: none;
  height: 2px;
  margin: 0 15px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #ff0a0a;
  border-radius: 50%;
  cursor: pointer;
}

.right input[type=range] {
  width: 40%;
}

.left .volume {
  position: absolute;
  bottom: 80px;
  margin-left: 100px;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.left .volume p {
  font-size: 15px;
}

.left .volume i {
  cursor: pointer;
  padding: 8px 12px;
}

.left .volume i:hover {
  background-color: #ff0a0a;
}

.volume #volume_show {
  padding: 8px 12px;
  margin: 0 5px 0 0;
  background-color: #ff0a0a;
}

/* rigth part*/
.rigth .middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .middle button {
  border: solid;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  background: #e4dfdf;
  box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
  opacity: 80%;
}

.right .middle :hover {
  width: 55px;
  height: 55px;
  position: inherit;
}

.right .middle button span {
  cursor: pointer;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.youtube-btn {
  position: absolute;
  right: 195px;
  bottom: 50px;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
  background: #f00404;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 500px) {
  .youtube-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
  }
}
@media screen and (max-width: 700px) {
  .youtube-btn {
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 20px;
  }

  .youtube-btn:active {
    transform: scale(1.1);
    box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
  }
}
.titulosmp3 {
  color: #fff;
  width: 150px;
  height: 80px;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 30px;
}

.rigth #title {
  color: #fff;
  position: relative;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #FFFFFF;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 200px;
}

.right #artist {
  position: relative;
  bottom: 1px;
  margin-right: 6px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 20px;
}

.right .duration {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  margin-top: 40px;
}

.right .duration p {
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
  margin-left: 20px;
}

.right #auto {
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  padding: 10px 14px;
  color: #FFFFFF;
  background: rgba(245, 245, 245, 0.2);
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
}

.right #auto i {
  margin-left: 8px;
}

#play {
  background-color: red;
}

.right i ::before {
  color: #FFFFFF;
}

.right .show_song_no {
  position: absolute;
  top: 80px;
  right: 10px;
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: #FFFFFF;
  border-radius: 5px;
}

.right .show_song_no p :nth-child(2) {
  margin: 0 5px;
}

.medium {
  margin-top: 80px;
  width: 95%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  box-shadow: #ffffff;
  color: pink;
  right: 10%;
  left: 40px;
  margin-left: 25px;
}

.medium p {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.inforevista {
  width: 95%;
  height: 1000px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: 25px;
  background-color: #000000;
}

.newsletterrevista {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 80px;
  font-weight: 40px;
}

.revista {
  display: flex;
  align-items: flex-start;
  width: 650px;
  height: 800px;
  margin-bottom: 100px;
  top: 50px;
  left: 100px;
  position: relative;
}

/* Footer */
.footer {
  background-color: rgba(65, 65, 65, 0.171);
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  margin: 10px;
}

.redes button {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background-color: black;
}

.redes ion-icon {
  color: #a0eef8;
  width: 70px;
  height: 70px;
}

.redes h4 {
  font-size: 40px;
  color: white;
  margin: 10px;
}

.redes1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  margin: 10px;
}

.redes1 button {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background-color: black;
}

.redes1 ion-icon {
  color: #a0eef8;
  width: 70px;
  height: 70px;
}

.redes1 h4 {
  font-size: 40px;
  color: white;
  margin: 10px;
}

.redes2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  margin: 10px;
}

.redes2 button {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background-color: black;
}

.redes2 ion-icon {
  color: #a0eef8;
  width: 70px;
  height: 70px;
}

.redes2 h4 {
  font-size: 40px;
  color: white;
  margin: 10px;
}

.piepag {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piepag img {
  width: 180px;
  height: 180px;
  position: relative;
  left: 140px;
  bottom: 20px;
}

.piepag h5 {
  font-size: 15px;
  color: white;
  position: relative;
  top: 60px;
  right: 110px;
}

@media (max-width: 1364px) {
  .nav-main {
    font-size: 20px;
  }

  .nav-main li a:hover {
    font-size: 25px;
    border-bottom: none;
  }

  .nav-main2 {
    font-size: 20px;
  }

  .nav-main2 li a:hover {
    font-size: 25px;
    border-bottom: none;
  }

  .nav-menurigth {
    position: relative;
    right: 50%;
  }
}
@media (max-width: 1116px) {
  .container img {
    /*visibility: collapse;*/
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 20%;
    right: 6%;
  }

  .container {
    display: flex;
    height: 400px;
  }

  .nav-main {
    position: relative;
    right: 2%;
    bottom: 17%;
    height: 70px;
    font-size: 15px;
  }

  .nav-main2 {
    position: relative;
    bottom: 17%;
    left: 0%;
    height: 70px;
    font-size: 15px;
  }

  .nav-menu li {
    margin: 0;
  }

  .nav-menu2 li {
    margin: 0;
  }

  .nav-menu2 {
    position: relative;
    right: 25%;
  }

  .nav-main ul li a {
    color: #ffffff;
  }

  .nav-main2 ul li a {
    color: #ffffff;
  }

  .nav-main li a:hover {
    font-size: 30px;
    border-bottom: none;
  }

  .nav-main2 li a:hover {
    font-size: 20px;
    border-bottom: none;
  }

  .nav-menurigth {
    left: 78%;
  }
}
@media (max-width: 768px) {
  .showcase {
    height: 60px;
  }

  .container {
    height: 300px;
  }

  .showcase {
    display: flex;
    position: fixed;
    height: 70px;
    z-index: 10;
  }

  .logomenu {
    display: none;
  }

  .logomenu2 {
    width: 50px;
    height: 50px;
    display: flex;
    border: solid white;
  }

  .container img {
    bottom: 28%;
    left: 0%;
  }

  .nav-menurigth a ion-icon {
    width: 40px;
    height: 40px;
    
  }
  .nav-menu {
    flex-direction: column;
    margin: 0;
    background-color: #000000;
    position: fixed;
    top: 70px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    z-index: 10;
  }

  .nav-main li a {
    position: relative;
    right: 10px;
    font-size: 35px;
    margin: 5px;
  }

  .nav-main li {
    font-size: 50px;
    margin-top: 0;
  }

  .nav-main :hover {
    background-color: red;
    color: black;
  }

  .covermenu {
    display: flex;
  }

  .nav-menu2 {
    display: none;
  }

  .nav-toggle {
    display: flex;
    position: relative;
    right: 80px;
    color: white;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  .nav-toggle :hover{
    border: solid white;
    border-radius: 5px 
  }

  .nav-toggle :active {
    color: red;
  }
  .parrafosus p {
    font-size: 30px;
  }
  .parrafosus {
    padding: 0;
    margin-bottom: 0;
    height: 300px;
    border: none;
  }
  .info {
    display: block;
    align-items: center;
    margin-top: 0;
    padding: 0;
    width: 100%;
  }
  .bg-model {
    margin-top: 10px;
    z-index: 10;
  }
  .model_content img {
    width: 200px;
    height: 200px;
    position: relative;
    top: 50px;
  }
  #send {
    width: 120px;
    margin-left: auto;
  }

  .infolanzamiento {
    width: 100%;
    height: 250px;

  }
  .infolanzamiento h2 {
    font-size: 28px;
    width: 100%;
    text-align: center;
    padding: 0%;
  }
  .infolanzamiento p {
    font-size: 20px;
  }
  .boton {
    width: 50%;
    margin: 0;
    position: relative;
    left: 32%;
    top: 50px;
  }
  .boton button {
    margin: 0;
    top: 0;
  }
  .img1 img {
    width: 300px;
    height: 300px;
  }
  .img1 {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .footer {

    position: relative;
    top: 230px;
    height: 100px;
    padding-top: 10px;
  }
  .redes {
    height: 80px;
    display:grid;
    align-items: center;
    justify-content: center;
  }
  .redes h4 {
    font-size: 15px;
  }
  .redes button {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }
  .redes ion-icon {
    width: 20px;
    height: 30px;
  }
  .redes1 {
    height: 80px;
    display:grid;
    align-items: center;
    justify-content: center;
  }
  .redes1 h4 {
    font-size: 15px;
    text-align: center;
  }
  .redes1 button {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }
  .redes1 ion-icon {
    width: 20px;
    height: 30px;
  }
  .redes2 {
    height: 80px;
    display:grid;
    align-items: center;
    justify-content: center;
  }
  .redes2 h4 {
    font-size: 15px;
    text-align: center;
  }
  .redes2 button {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }
  .redes2 ion-icon {
    width: 25px;
    height: 30px;
  }
  .piepag {
    height: 200px;
    display: block;
    position: relative;
    top: 230px;
    justify-content: center;
    align-items: center;
  }
  .piepag img {
    top: 8%;
    left: 37%;
    width: 120px;
    height: 120px;
  }
  .piepag h5 {
    text-align: center;
    top: 0;
    right: 0;
  }
}
/*# sourceMappingURL=styleplayer.css.map */

/*# sourceMappingURL=styleplayer.css.map */
