* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: black;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Showcase */
.showcase {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #000000;
  position: fixed;
  z-index: 10;
}

.showcase h1 {
  color: #FFFFFF;
  width: 50px;
}

.nav-menurigth {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: relative;
  left: 90%;
  padding: 10px;
}

.nav-menurigth ion-icon:hover {
  color: #ffff86;
  width: 60px;
  height: 60px;
}

.nav-menurigth a ion-icon {
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 40px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

.container {
  display: flex;
  height: 700px;
  background: url(/imgnonstop/jk.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navegacion */
.nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 25px;
  height: 200px;
}

.covermenu {
  display: none;
}

.nav-main2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 25px;
  height: 200px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* nav left */
.nav-main li {
  padding: 10px;
  margin: 10px;
}

.nav-main ul li a {
  padding: 4px;
  color: #fffdfd;
}

.nav-main li a:hover {
  font-size: 30px;
  border-bottom: solid #ffffff;
}

.nav-main2 li {
  padding: 10px;
  margin: 10px;
}

.nav-main2 li a {
  padding: 4px;
  color: #fffbfb;
}

.nav-main2 li a:hover {
  font-size: 30px;
  border-bottom: solid #fff5f5;
}

.container img {
  width: 250px;
  height: 250px;
  position: relative;
}

.seccion1 {
  width: 98%;
  height: 300px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  border-radius: 8px;
}

.seccion1 h2 {
  color: #81e93b;
  font-size: 100px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.seccion1 p {
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-size: 50px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.medium {
  color: pink;
  display: flex;
  justify-content: center;
  width: 99%;
  position: relative;
  margin-top: 80px;
}

.medium p {
  color: rgb(0, 0, 0);
  font-size: 90px;
  background-color: yellow;
  font-display: 60px;
  width: 100%;
  height: 150px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  left: 15px;
}

.inforevista {
  top: 200px;
  color: #ffff86;
  width: 98%;
  height: 1400px;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
}

.inforevista a {
  color: #fffbfb;
  font-size: 25px;
  width: 500px;
  height: 120px;
  border: solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 35%;
  bottom: 500px;
  z-index: 10;
  border-radius: 1px;
  box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.inforevista a:hover {
  background-color: white;
  color: black;
}

.inforevista p {
  color: #FFFFFF;
  font-size: 190px;
  height: 800px;
  position: relative;
  left: 111px;
}

.inforevista img {
  display: flex;
  width: 1000px;
  height: 1300px;
  position: relative;
  left: 150px;
}

.finalnote {
  display: flex;
  top: 100px;
  background-color: rgba(10, 8, 8, 0.541);
  font-display: 60px;
  width: 100%;
  height: 300px;
  position: relative;
  left: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  box-shadow: inset;
  color: #FFFFFF;
}

.finalnote p {
  font-size: 120px;
  position: relative;
  display: flex;
}

/* Footer */
.footer {
  top: 200px;
  background-color: rgba(24, 20, 20, 0.2);
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  margin: 10px;
}

.redes button {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background-color: black;
  cursor: pointer;
}

.redes ion-icon {
  color: #a0eef8;
  width: 30px;
  height: 30px;
}

.redes h4 {
  font-size: 30px;
  color: white;
  margin: 10px;
}

.redes1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  margin: 10px;
}

.redes1 button {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background-color: black;
  cursor: pointer;
}

.redes1 ion-icon {
  color: #a0eef8;
  width: 30px;
  height: 30px;
}

.redes1 h4 {
  font-size: 30px;
  color: white;
  margin: 10px;
}

.redes2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  margin: 10px;
}

.redes2 button {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background-color: black;
  cursor: pointer;
}

.redes2 ion-icon {
  color: #a0eef8;
  width: 30px;
  height: 30px;
}

.redes2 h4 {
  font-size: 30px;
  color: white;
  margin: 10px;
}

.piepag {
  position: relative;
  top: 200px;
  width: 100%;
  height: 250px;
  display: block;
  align-items: center;
  justify-content: center;
}

.piepag div {
  display: flex;
  justify-content: center;
}

.piepag img {
  width: 180px;
  height: 180px;
  bottom: 20px;
}

.piepag h5 {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*-------------------------------------------------Responsive Laptop.------------------------------------------------------------------------------------------------------*/
@media (max-width: 2200px) {
  .seccion1 {
    width: 98%;
    height: 300px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;
    border-radius: 8px;
  }

  .seccion1 h2 {
    color: #81e93b;
    font-size: 60px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .seccion1 p {
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 30px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .medium {
    color: pink;
    display: flex;
    justify-content: center;
    width: 99%;
    position: relative;
    margin-top: 80px;
  }

  .medium p {
    color: rgb(0, 0, 0);
    font-size: 90px;
    background-color: yellow;
    font-display: 60px;
    width: 98%;
    height: 150px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    margin-right: 10px;
  }

  .inforevista {
    top: 200px;
    color: #ffff86;
    width: 98%;
    height: 1200px;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .inforevista a {
    color: #fffbfb;
    font-size: 25px;
    width: 300px;
    height: 80px;
    border: solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 76%;
    bottom: 50px;
    z-index: 10;
    border-radius: 1px;
    box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  .inforevista a:hover {
    background-color: white;
    color: black;
  }

  .inforevista p {
    top: 90px;
    color: #FFFFFF;
    font-size: 145px;
    height: 800px;
    left: 20px;
  }

  .inforevista img {
    display: flex;
    width: 600px;
    height: 700px;
    position: relative;
    left: 40px;
  }

  .finalnote {
    display: flex;
    background-color: rgba(10, 8, 8, 0.541);
    font-display: 60px;
    width: 98%;
    height: 300px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: inset;
    color: #FFFFFF;
  }

  .finalnote p {
    font-size: 90px;
    position: relative;
    display: flex;
  }

  /* Footer */
  .footer {
    top: 200px;
    background-color: rgba(24, 20, 20, 0.2);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }

  .redes button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }

  .redes ion-icon {
    color: #a0eef8;
    width: 25px;
    height: 25px;
  }

  .redes h4 {
    font-size: 18px;
    color: white;
    margin: 10px;
  }

  .redes1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }

  .redes1 button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }

  .redes1 ion-icon {
    color: #a0eef8;
    width: 25px;
    height: 25px;
  }

  .redes1 h4 {
    font-size: 18px;
    color: white;
    margin: 10px;
  }

  .redes2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }

  .redes2 button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }

  .redes2 ion-icon {
    color: #a0eef8;
    width: 25px;
    height: 25px;
  }

  .redes2 h4 {
    font-size: 18px;
    color: white;
    margin: 10px;
  }

  .piepag {
    position: relative;
    top: 200px;
    width: 100%;
    height: 250px;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .piepag div {
    display: flex;
    justify-content: center;
  }

  .piepag img {
    width: 180px;
    height: 180px;
    bottom: 20px;
  }

  .piepag h5 {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
}
/*----------------------------------------------------Resposive Tablet ------------------------------------------------------------------------------------*/
@media (max-width: 1300px) {
  .nav-main {
    font-size: 20px;
  }

  .nav-main li a:hover {
    font-size: 25px;
    border-bottom: none;
  }

  .nav-main2 {
    font-size: 20px;
  }

  .nav-main2 li a:hover {
    font-size: 25px;
    border-bottom: none;
  }

  .nav-menurigth {
    position: relative;
    right: 50%;
  }

  .seccion1 {
    width: 98%;
    height: 300px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;
    border-radius: 8px;
  }

  .seccion1 h2 {
    color: #81e93b;
    font-size: 80px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .seccion1 p {
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .medium {
    color: pink;
    display: flex;
    justify-content: center;
    width: 99%;
    position: relative;
    margin-top: 80px;
  }

  .medium p {
    color: rgb(0, 0, 0);
    font-size: 90px;
    background-color: yellow;
    font-display: 60px;
    width: 98%;
    height: 280px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    text-align: center;
    margin-left: 16px;
  }

  .inforevista {
    top: 200px;
    color: #ffff86;
    width: 98%;
    height: 2500px;
    position: relative;
    display: block;
    grid-template-columns: 50% 50%;
  }

  .inforevista a {
    color: #fffbfb;
    font-size: 25px;
    width: 450px;
    height: 100px;
    border: solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 33%;
    z-index: 10;
    top: 100px;
    border-radius: 1px;
    box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    margin-bottom: 900px;
  }

  .inforevista a:hover {
    background-color: white;
    color: black;
  }

  .inforevista p {
    top: 20px;
    color: #FFFFFF;
    font-size: 145px;
    height: 800px;
    left: 40px;
    text-align: center;
  }

  .inforevista img {
    display: flex;
    width: 800px;
    height: 1100px;
    position: relative;
    left: 250px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 200px;
  }

  .finalnote {
    display: flex;
    background-color: rgba(10, 8, 8, 0.541);
    font-display: 60px;
    width: 98%;
    height: 300px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: inset;
    color: #FFFFFF;
  }

  .finalnote p {
    font-size: 90px;
    position: relative;
    display: flex;
  }

  /* Footer */
  .footer {
    top: 200px;
    background-color: rgba(24, 20, 20, 0.2);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }

  .redes button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }

  .redes ion-icon {
    color: #a0eef8;
    width: 25px;
    height: 25px;
  }

  .redes h4 {
    font-size: 18px;
    color: white;
    margin: 10px;
  }

  .redes1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }

  .redes1 button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }

  .redes1 ion-icon {
    color: #a0eef8;
    width: 25px;
    height: 25px;
  }

  .redes1 h4 {
    font-size: 18px;
    color: white;
    margin: 10px;
  }

  .redes2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }

  .redes2 button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }

  .redes2 ion-icon {
    color: #a0eef8;
    width: 25px;
    height: 25px;
  }

  .redes2 h4 {
    font-size: 18px;
    color: white;
    margin: 10px;
  }

  .piepag {
    position: relative;
    top: 200px;
    width: 100%;
    height: 250px;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .piepag div {
    display: flex;
    justify-content: center;
  }

  .piepag img {
    width: 180px;
    height: 180px;
    bottom: 20px;
  }

  .piepag h5 {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
}
/*------------------------------------------------Responsive Minitablet-----------------------------------------------------------------------------------------------------------*/
@media (max-width: 1100px) {
  .container img {
    /*visibility: collapse;*/
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 20%;
    right: 6%;
  }

  .container {
    display: flex;
    height: 400px;
  }

  .nav-main {
    position: relative;
    right: 2%;
    bottom: 17%;
    height: 70px;
    font-size: 15px;
  }

  .nav-main2 {
    position: relative;
    bottom: 17%;
    left: 0%;
    height: 70px;
    font-size: 15px;
  }

  .nav-menu li {
    margin: 0;
  }

  .nav-menu2 li {
    margin: 0;
  }

  .nav-menu2 {
    position: relative;
    right: 25%;
  }

  .nav-main ul li a {
    color: #ffffff;
  }

  .nav-main2 ul li a {
    color: #ffffff;
  }

  .nav-main li a:hover {
    font-size: 30px;
    border-bottom: none;
  }

  .nav-main2 li a:hover {
    font-size: 20px;
    border-bottom: none;
  }

  .nav-menurigth {
    left: 78%;
  }

  .seccion1 {
    width: 98%;
    height: 300px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;
    border-radius: 8px;
  }

  .seccion1 h2 {
    color: #81e93b;
    font-size: 80px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .seccion1 p {
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .medium {
    color: pink;
    display: flex;
    justify-content: center;
    width: 99%;
    position: relative;
    margin-top: 80px;
  }

  .medium p {
    color: rgb(0, 0, 0);
    font-size: 90px;
    background-color: yellow;
    height: 250px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    text-align: center;
    margin-left: 16px;
  }

  .inforevista {
    top: 200px;
    color: #ffff86;
    width: 98%;
    height: 2500px;
    position: relative;
    display: block;
    grid-template-columns: 50% 50%;
  }

  .inforevista a {
    color: #fffbfb;
    font-size: 25px;
    width: 450px;
    height: 100px;
    border: solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    z-index: 10;
    top: 100px;
    border-radius: 1px;
    box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    margin-bottom: 900px;
  }

  .inforevista a:hover {
    background-color: white;
    color: black;
  }

  .inforevista p {
    top: 20px;
    color: #FFFFFF;
    font-size: 145px;
    height: 800px;
    left: 40px;
    text-align: center;
  }

  .inforevista img {
    display: flex;
    width: 800px;
    height: 1100px;
    position: relative;
    left: 158px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 200px;
  }

  .finalnote {
    display: flex;
    background-color: rgba(10, 8, 8, 0.541);
    font-display: 60px;
    width: 98%;
    height: 300px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: inset;
    color: #FFFFFF;
  }

  .finalnote p {
    font-size: 90px;
    position: relative;
    display: flex;
  }

  /* Footer */
  .footer {
    top: 200px;
    background-color: rgba(24, 20, 20, 0.2);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }

  .redes button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }

  .redes ion-icon {
    color: #a0eef8;
    width: 25px;
    height: 25px;
  }

  .redes h4 {
    font-size: 18px;
    color: white;
    margin: 10px;
  }

  .redes1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }

  .redes1 button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }

  .redes1 ion-icon {
    color: #a0eef8;
    width: 25px;
    height: 25px;
  }

  .redes1 h4 {
    font-size: 18px;
    color: white;
    margin: 10px;
  }

  .redes2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    margin: 10px;
  }

  .redes2 button {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: black;
    cursor: pointer;
  }

  .redes2 ion-icon {
    color: #a0eef8;
    width: 25px;
    height: 25px;
  }

  .redes2 h4 {
    font-size: 18px;
    color: white;
    margin: 10px;
  }

  .piepag {
    position: relative;
    top: 200px;
    width: 100%;
    height: 250px;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .piepag div {
    display: flex;
    justify-content: center;
  }

  .piepag img {
    width: 180px;
    height: 180px;
    bottom: 20px;
  }

  .piepag h5 {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
}
/*----.--------------------------------------------Responsive Movil-------------------------------------------------------*/
@media (max-width: 1000px) {
  .showcase {
    height: 60px;
  }

  .container {
    height: 300px;
  }

  .showcase {
    display: flex;
    position: fixed;
    height: 70px;
    z-index: 10;
  }

  .logomenu {
    display: none;
  }

  .logomenu2 {
    width: 50px;
    height: 50px;
    display: flex;
    border: solid white;
  }

  .container img {
    bottom: 28%;
    left: 0%;
  }

  .nav-menurigth a ion-icon {
    width: 40px;
    height: 40px;
  }

  .nav-menu {
    flex-direction: column;
    margin: 0;
    background-color: #000000;
    position: fixed;
    top: 70px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    z-index: 10;
  }

  .nav-main li a {
    position: relative;
    right: 10px;
    font-size: 35px;
    margin: 5px;
  }

  .nav-main li {
    font-size: 50px;
    margin-top: 0;
  }

  .nav-main :hover {
    background-color: red;
    color: black;
  }

  .covermenu {
    display: flex;
  }

  .nav-menu2 {
    display: none;
  }

  .nav-toggle {
    display: flex;
    position: relative;
    right: 80px;
    color: white;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  .nav-toggle :hover {
    border: solid white;
    border-radius: 5px;
  }

  .nav-toggle :active {
    color: red;
  }

  .seccion1 {
    width: 90%;
    height: 350px;
    align-items: center;
    justify-content: center;
    position: relative;
    color: violet;
    margin-left: 20px;
    top: 150px;
  }

  .seccion1 h2 {
    color: #81e93b;
    font-size: 40px;
    width: 100%;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    margin-top: 100px;
  }

  .seccion1 p {
    display: flex;
    color: #ffffff;
    width: 98%;
    text-align: center;
    font-size: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
    right: 7px;
  }

  .medium {
    color: pink;
    display: flex;
    justify-content: center;
    width: 99%;
    height: 200px;
    position: relative;
  }

  .medium p {
    color: rgb(0, 0, 0);
    font-size: 80px;
    background-color: yellow;
    width: 100%;
    height: 150px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 50px;
    bottom: 180px;
    border: solid;
  }

  .inforevista {
    color: #ffff86;
    width: 98%;
    height: 1500px;
    position: relative;
    bottom: 800px;
  }

  .inforevista p {
    display: flex;
    color: #FFFFFF;
    font-size: 70px;
    height: 300px;
    text-align: center;
    position: relative;
    margin-right: 70px;
  }

  .inforevista img {
    display: flex;
    width: 600px;
    height: 900px;
    position: relative;
    margin-left: -18px;
    margin-top: 200px;
  }

  .inforevista a {
    color: #fffbfb;
    font-size: 25px;
    width: 350px;
    height: 100px;
    border: solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 5px;
    margin-top: -200px;
    border-radius: 1px;
    box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }

  .finalnote {
    display: flex;
    background-color: rgba(10, 8, 8, 0.541);
    font-size: 60px;
    width: 98%;
    height: 300px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }

  .finalnote p {
    font-size: 40px;
    position: relative;
    display: flex;
  }

  .footer {
    position: relative;
    top: 230px;
    height: 100px;
    padding-top: 10px;
  }

  .redes {
    height: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .redes h4 {
    font-size: 15px;
  }

  .redes button {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }

  .redes ion-icon {
    width: 20px;
    height: 30px;
  }

  .redes1 {
    height: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .redes1 h4 {
    font-size: 15px;
    text-align: center;
  }

  .redes1 button {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }

  .redes1 ion-icon {
    width: 20px;
    height: 30px;
  }

  .redes2 {
    height: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .redes2 h4 {
    font-size: 15px;
    text-align: center;
  }

  .redes2 button {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }

  .redes2 ion-icon {
    width: 25px;
    height: 30px;
  }

  .piepag {
    height: 200px;
    display: block;
    position: relative;
    top: 230px;
    justify-content: center;
    align-items: center;
  }

  .piepag img {
    top: 8%;
    left: 37%;
    width: 120px;
    height: 120px;
  }

  .piepag h5 {
    text-align: center;
    top: 0;
    right: 0;
  }
}
/*----------------------------------------------------------------Responsive Iphone 12 --------------------------------------------------------------------------------------------*/
@media (max-width: 400px) {
  .showcase {
    height: 60px;
  }

  .container {
    height: 300px;
  }

  .showcase {
    display: flex;
    position: fixed;
    height: 70px;
    z-index: 10;
  }

  .logomenu {
    display: none;
  }

  .logomenu2 {
    width: 50px;
    height: 50px;
    display: flex;
    border: solid white;
  }

  .container img {
    bottom: 28%;
    left: 0%;
  }

  .nav-menurigth a ion-icon {
    width: 40px;
    height: 40px;
  }

  .nav-menu {
    flex-direction: column;
    margin: 0;
    background-color: #000000;
    position: fixed;
    top: 70px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    z-index: 10;
  }

  .nav-main li a {
    position: relative;
    right: 10px;
    font-size: 35px;
    margin: 5px;
  }

  .nav-main li {
    font-size: 50px;
    margin-top: 0;
  }

  .nav-main :hover {
    background-color: red;
    color: black;
  }

  .covermenu {
    display: flex;
  }

  .nav-menu2 {
    display: none;
  }

  .nav-toggle {
    display: flex;
    position: relative;
    right: 80px;
    color: white;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  .nav-toggle :hover {
    border: solid white;
    border-radius: 5px;
  }

  .nav-toggle :active {
    color: red;
  }

  .seccion1 {
    width: 90%;
    height: 350px;
    align-items: center;
    justify-content: center;
    position: relative;
    color: violet;
    margin-left: 20px;
    top: 10px;
  }

  .seccion1 h2 {
    color: #81e93b;
    font-size: 50px;
    width: 100%;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
  }

  .seccion1 p {
    display: flex;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 35px;
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 5px;
    margin-top: 30px;
  }

  .medium {
    color: pink;
    display: flex;
    justify-content: center;
    width: 460px;
    height: 200px;
    position: relative;
    top: 200px;
    right: 30px;
  }

  .medium p {
    color: rgb(0, 0, 0);
    font-size: 35px;
    background-color: yellow;
    width: 100%;
    height: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 50px;
    border: solid;
    bottom: 150px;
  }

  .inforevista {
    color: #ffff86;
    width: 98%;
    height: 1200px;
    position: relative;
    bottom: 800px;
  }

  .inforevista p {
    display: flex;
    color: #FFFFFF;
    font-size: 70px;
    height: 300px;
    text-align: center;
    position: relative;
    margin-right: 70px;
  }

  .inforevista img {
    display: flex;
    width: 350px;
    height: 600px;
    position: relative;
    left: 38px;
    bottom: 100px;
  }

  .inforevista a {
    color: #fffbfb;
    font-size: 25px;
    width: 250px;
    height: 70px;
    border: solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -50px;
    top: 200px;
    border-radius: 1px;
    box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }

  .finalnote {
    display: flex;
    background-color: rgba(10, 8, 8, 0.541);
    font-size: 60px;
    width: 98%;
    height: 200px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }

  .finalnote p {
    font-size: 5s0px;
    position: relative;
    display: flex;
    margin-right: 15px;
    top: 50px;
  }

  .footer {
    position: relative;
    top: 230px;
    height: 100px;
    padding-top: 10px;
  }

  .redes {
    height: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .redes h4 {
    font-size: 15px;
  }

  .redes button {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }

  .redes ion-icon {
    width: 20px;
    height: 30px;
  }

  .redes1 {
    height: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .redes1 h4 {
    font-size: 15px;
    text-align: center;
  }

  .redes1 button {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }

  .redes1 ion-icon {
    width: 20px;
    height: 30px;
  }

  .redes2 {
    height: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .redes2 h4 {
    font-size: 15px;
    text-align: center;
  }

  .redes2 button {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }

  .redes2 ion-icon {
    width: 25px;
    height: 30px;
  }

  .piepag {
    height: 200px;
    display: block;
    position: relative;
    top: 230px;
    justify-content: center;
    align-items: center;
  }

  .piepag img {
    top: 8%;
    left: 37%;
    width: 120px;
    height: 120px;
  }

  .piepag h5 {
    text-align: center;
    top: 0;
    right: 0;
    font-size: 10px;
  }
}
/*# sourceMappingURL=styleindex.css.map */
/*# sourceMappingURL=styleindex.css.map */
/*# sourceMappingURL=styleindex.css.map */

/*# sourceMappingURL=stylenews.css.map */
