* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Showcase */
.Showcase {
  width: 100%;
  height: 30px;
  background-color: #FFFFFF;
}

.container {
  max-width: 100%;
  height: 700px;
  top: 200px;
  background: url(/Imagenes/pexels-mathias-pr-reding-11077611.jpg);
  background-size: 1000px;
}

/* Navegacion */
.nav-main {
  font-size: 25px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 80px;
}

.nav-brand {
  width: 50px;
}

/* nav left */
.nav-main ul {
  display: flex;
  font-size: 20px;
  justify-content: center;
  background: black;
}

.nav-main ul li {
  padding: 10px;
  margin: 10px;
}

.nav-main ul li a {
  padding: 4px;
  color: #FFFFFF;
}

.nav-main ul li a:hover {
  border-bottom: solid #FFFFFF;
  background: black;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 0px;
  margin-right: 100px;
}

.nav-main img {
  width: 180px;
  height: 180px;
  position: relative;
  left: 30px;
}

.nav-menurigth {
  position: relative;
  display: flex;
}

.newsday {
  height: 300px;
  color: #ffffff;
  position: relative;
  top: 400px;
  font-size: small;
  font-size: 15px;
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
}

.titlebouvier {
  font-size: large;
  font-size: 50px;
  color: pink;
  text-shadow: #FFFFFF;
  margin-bottom: 100px;
  margin-right: 60px;
  margin-bottom: 200px;
}

.notice {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
  width: 90%;
  top: 150px;
  font-size: 30px;
  margin-left: 65px;
  margin-top: 40px;
}

.medium {
  width: 95%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  box-shadow: #FFFFFF;
  color: pink;
  right: 10%;
  left: 40px;
  margin-left: 25px;
  bottom: 100px;
}

.medium p {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 100px;
}

.inforevista {
  width: 95%;
  height: 1000px;
  margin-top: 20px;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: 30px;
}

.newsletterrevista {
  display: flex;
  align-items: center;
  justify-content: center;
  color: pink;
  font-size: 50px;
  position: relative;
  right: 7%;
}

.revista {
  display: flex;
  align-items: flex-start;
  width: 100px;
  height: 80px;
  margin-bottom: 100px;
  top: 20px;
  display: flex;
  right: 7%;
  position: relative;
}

.github-btn {
  position: absolute;
  right: 40px;
  bottom: 50px;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
  background: red;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  display: flex;
}

@media screen and (min-width: 500px) {
  .github-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
  }
}
@media screen and (max-width: 700px) {
  .github-btn {
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 20px;
  }

  .github-btn:active {
    transform: scale(1.1);
    box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
  }
}
.medium {
  margin-top: 80px;
  width: 95%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  box-shadow: #ffffff;
  color: pink;
  right: 10%;
  left: 40px;
  margin-left: 25px;
}

.medium p {
  border: solid;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.inforevista {
  width: 95%;
  height: 1000px;
  margin-top: 20px;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-right: 1000px;
}

.news {
  display: flex;
  border: solid;
}

.newsletterrevista {
  display: flex;
  align-items: center;
  justify-content: center;
  color: pink;
  font-size: 50px;
  font-weight: 40px;
  border: solid;
}

.revista {
  display: flex;
  align-items: flex-start;
  width: 650px;
  height: 800px;
  margin-bottom: 100px;
  top: 20px;
}

/* Footer */
.footer {
  background-color: #414141;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  margin: 10px;
}

.redes button {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background-color: black;
}

.redes ion-icon {
  color: #a0eef8;
  width: 70px;
  height: 70px;
}

.redes h4 {
  font-size: 40px;
  color: white;
  margin: 10px;
}

.redes1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  margin: 10px;
}

.redes1 button {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background-color: black;
}

.redes1 ion-icon {
  color: #a0eef8;
  width: 70px;
  height: 70px;
}

.redes1 h4 {
  font-size: 40px;
  color: white;
  margin: 10px;
}

.redes2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  margin: 10px;
}

.redes2 button {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background-color: black;
}

.redes2 ion-icon {
  color: #a0eef8;
  width: 70px;
  height: 70px;
}

.redes2 h4 {
  font-size: 40px;
  color: white;
  margin: 10px;
}

.piepag {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piepag img {
  width: 180px;
  height: 180px;
  position: relative;
  left: 90px;
  bottom: 20px;
}

.piepag h5 {
  font-size: 15px;
  color: white;
  position: relative;
  top: 60px;
  right: 90px;
}

/*---------------RESPONSIVE NAV -------------*/
/*
@media (max-width: 1364px) {
  .nav-main {
    font-size: 20px;
  }

  .nav-main li a:hover {
    font-size: 25px;
    border-bottom: none;
  }

  .nav-main2 {
    font-size: 20px;
  }

  .nav-main2 li a:hover {
    font-size: 25px;
    border-bottom: none;
  }
}
@media (max-width: 1116px) {
  .container img {

    width: 100px;
    height: 100px;
    position: relative;
    bottom: 20%;
    right: 6%;
  }

  .container {
    display: flex;
    height: 400px;
  }

  .nav-main {
    position: relative;
    right: 2%;
    bottom: 17%;
    height: 70px;
    font-size: 15px;
  }

  .nav-main2 {
    position: relative;
    bottom: 17%;
    left: 0%;
    height: 70px;
    font-size: 15px;
  }

  .nav-menu2 {
    position: relative;
    right: 25%;
  }

  .nav-main ul li a {
    color: #ffffff;
  }

  .nav-main2 ul li a {
    color: #ffffff;
  }

  .nav-main li a:hover {
    font-size: 20px;
    border-bottom: none;
  }

  .nav-main2 li a:hover {
    font-size: 20px;
    border-bottom: none;
  }

  .nav-menurigth {
    left: 88%;
  }
}
@media (max-width: 768px) {
  .showcase {
    height: 60px;
  }

  .container img {
    bottom: 25%;
    left: 1%;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: gray;
    position: fixed;
    left: 0px;
    top: 70px;
  }

  .nav-menu2 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: #8a6363;
    position: fixed;
    left: 0px;
    bottom: 300px;
  }
}*/
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=stylenews.css.map */

/*# sourceMappingURL=stylenews.css.map */
