* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "school";
  src: url(/fuentes/BEACHWORKS.ttf);
}
@font-face {
  font-family: "banners";
  src: url(/fuentes/Hey\ August.ttf);
}
@font-face {
  font-family: "bannersy";
  src: url(/fuentes/Brotherhood\ Brush.ttf);
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url(/imgnonstop/pexels-tima-miroshnichenko-6847588.jpg);
  justify-content: center;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

.welcome {
  width: 100%;
  height: 900px;
  color: rgb(0, 0, 0);
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.welcome h1 {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 13em;
  font-weight: 900;
  left: 13%;
  top: 600px;
  font-family: "banners";
  z-index: 10;
}

.welcome img {
  position: relative;
  display: flex;
  width: 500px;
  height: 500px;
  bottom: 100px;
  left: 51%;
  display: none;
}

.continue {
  padding: 1.5em 4em;
  font-size: 40px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
  right: 40%;
  top: 600px;
  border-radius: 6px;
  text-align: center;
  font-family: "school";
}

.continue:hover {
  padding: 1.5em 4em;
  font-size: 40px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-family: "school";
}

.loader {
  display: flex;
  top: 1000px;
  left: 13%;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.out-1 {
  position: absolute;
  width: 5em;
  height: 5em;
  border-radius: 100%;
  border: 0.2em solid transparent;
  border-top-color: rgb(43, 226, 83);
  animation: rec 2s infinite;
  transition: all ease-in-out 0.3s;
}

.out-2 {
  position: absolute;
  width: 5em;
  height: 5em;
  border-radius: 100%;
  border: 0.2em solid transparent;
  border-left-color: rgb(226, 223, 43);
  animation: rec 2s infinite;
  transition: all ease-in-out 0.3s;
}

.out-3 {
  position: absolute;
  width: 5em;
  height: 5em;
  border-radius: 100%;
  border: 0.2em solid transparent;
  border-bottom-color: #00BCD4;
  animation: rec 2s infinite;
  transition: all ease-in-out 0.3s;
}

.in {
  position: absolute;
  border-radius: 100%;
  border: 0.2em solid rgba(31, 241, 76, 0.11);
  width: 4em;
  height: 4em;
  transition: all ease-in-out 0.3s;
}

@keyframes rec {
  0% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1502px) {
  /* From uiverse.io by @felipesntr */
  .welcome {
    width: 100%;
    height: 400px;
    color: rgb(0, 0, 0);
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .welcome h1 {
    top: 220px;
    left: 10%;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 6em;
    font-weight: 700;
    display: block;
    font-family: "banners";
    z-index: 10;
  }

  .welcome img {
    position: relative;
    display: flex;
    width: 180px;
    left: 50%;
    height: 180px;
    bottom: 120px;
    display: none;
  }

  .continue {
    padding: 1em 4em;
    font-size: 18px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    right: 43%;
    top: 180px;
    border-radius: 6px;
    text-align: center;
    font-family: "school";
  }

  .continue:hover {
    padding: 1em 4em;
    font-size: 18px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: "school";
  }

  .loader {
    display: flex;
    top: 350px;
    left: 8.5%;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }

  .out-1 {
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: 0.2em solid transparent;
    border-top-color: rgb(0, 0, 0);
    animation: rec 2s infinite;
    transition: all ease-in-out 0.3s;
  }

  .out-2 {
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: 0.2em solid transparent;
    border-left-color: rgb(226, 223, 43);
    animation: rec 2s infinite;
    transition: all ease-in-out 0.3s;
  }

  .out-3 {
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: 0.2em solid transparent;
    border-bottom-color: #00BCD4;
    animation: rec 2s infinite;
    transition: all ease-in-out 0.3s;
  }

  .in {
    position: absolute;
    border-radius: 100%;
    border: 0.2em solid rgba(255, 255, 255, 0.11);
    width: 4em;
    height: 4em;
    transition: all ease-in-out 0.3s;
  }

  @keyframes rec {
    0% {
      transform: rotate(360deg);
    }
  }
}
/* ----------------------responsive movil ---------------------*/
@media (max-width: 900px) {
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    background-image: none;
    justify-content: center;
    background-size: 600px;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    position: relative;
  }

  .welcome {
    width: 100%;
    height: 900px;
    display: block;
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
  }

  .welcome h1 {
    position: relative;
    top: 400px;
    color: rgb(255, 255, 255);
    font-size: 5em;
    left: 20%;
    font-weight: 700;
    font-family: "banners";
    align-items: center;
    text-align: center;
    padding-left: 10px;
  }

  .welcome img {
    width: 300px;
    height: 300px;
    left: 45%;
    top: 10px;
    position: relative;
  }

  .continue {
    padding: 1.5em 4em;
    font-size: 18px;
    background-color: #00BCD4;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    top: 200px;
    right: 36%;
    border-radius: 6px;
    text-align: center;
    font-family: "school";
  }

  .continue:hover {
    padding: 1em 4em;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: "school";
  }

  .loader {
    width: 100%;
    display: flex;
    top: 700px;
    left: 18%;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }

  .out-1 {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 0.2em solid transparent;
    border-top-color: rgb(255, 255, 255);
    animation: rec 2s infinite;
    transition: all ease-in-out 0.3s;
  }

  .out-2 {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 0.2em solid transparent;
    border-left-color: rgb(226, 223, 43);
    animation: rec 2s infinite;
    transition: all ease-in-out 0.3s;
  }

  .out-3 {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 0.2em solid transparent;
    border-bottom-color: #00BCD4;
    animation: rec 2s infinite;
    transition: all ease-in-out 0.3s;
  }

  .in {
    position: absolute;
    border-radius: 100%;
    border: 0.2em solid rgba(0, 0, 0, 0.11);
    width: 4em;
    height: 4em;
    transition: all ease-in-out 0.3s;
  }

  @keyframes rec {
    0% {
      transform: rotate(360deg);
    }
  }
}
@media (max-width: 550px) {
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-image: none;
    background-size: 100% 2000px;
    justify-content: center;
    background-size: 600px;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    position: relative;
  }

  .welcome {
    width: 100%;
    height: 900px;
    display: block;
    position: relative;
    color: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
  }

  .welcome h1 {
    position: relative;
    top: 380px;
    color: rgb(255, 255, 255);
    font-size: 2.9em;
    left: -1%;
    align-items: center;
    text-align: center;
    padding-left: 10px;
  }

  .welcome img {
    position: relative;
    left: 11%;
    display: flex;
  }

  .continue {
    display: none;
  }

  .loader {
    width: 100%;
    display: flex;
    top: 230px;
    left: 0%;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }

  .out-1 {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 0.2em solid transparent;
    border-top-color: rgb(0, 0, 0);
    animation: rec 2s infinite;
    transition: all ease-in-out 0.3s;
  }

  .out-2 {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 0.2em solid transparent;
    border-left-color: rgb(226, 223, 43);
    animation: rec 2s infinite;
    transition: all ease-in-out 0.3s;
  }

  .out-3 {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    border: 0.2em solid transparent;
    border-bottom-color: #00BCD4;
    animation: rec 2s infinite;
    transition: all ease-in-out 0.3s;
  }

  .in {
    position: absolute;
    border-radius: 100%;
    border: 0.2em solid rgba(0, 0, 0, 0.11);
    width: 4em;
    height: 4em;
    transition: all ease-in-out 0.3s;
  }

  @keyframes rec {
    0% {
      transform: rotate(360deg);
    }
  }
}

/*# sourceMappingURL=styleindex.css.map */
